@tailwind base;
@tailwind components;
@tailwind utilities;

.center-absolute{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-item{
    transition-duration: .5s !important;
}